////////////
// Colors //
////////////
@grey: #888;
@blue: #14a1e3;

////////////
// Mixins //
////////////
.bordered(@top: 1px; @right: 1px; @bottom: 1px; @left: 1px; @color: transparent) {
  border-top: @top solid @color;
  border-right: @right solid @color;
  border-bottom: @bottom solid @color;
  border-left: @left solid @color;
}

// Flexbox
.flexbox() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
    -ms-flex-direction: @direction;
        flex-direction: @direction;
}

.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

.justify-content(@justification: space-between) {
  -webkit-justify-content: @justification;
          justify-content: @justification;
            -ms-flex-pack: @justification;

}

.align-items(@align) {
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
}

.flex-grow(@size) {
  -webkit-flex-grow: @size;
  -ms-flex-positive: @size;
          flex-grow: @size;
}

.align-self(@align) {
  -webkit-align-self: @align;
 -ms-flex-item-align: @align;
          align-self: @align;
}

// Other
.backface-visibility(@vis: hidden) {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

///////////////
// Main part //
///////////////

body {
  position: relative;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.main-wrapper {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.main-content {
  position: relative;
  margin: 0 auto;

  .flexbox;
  .flex-direction;
  .flex-wrap;
  .justify-content;
  -ms-flex-pack: justify;
  .align-items(center);


  .art {
    position: relative;
    width: 50%;
    line-height: 0;

    .bordered(2px, 0, 0, 0);

    transition: all 1s ease;

    // Сохранение трёхмерности для потомков дочерних элементов.
    transform-style: preserve-3d;

    &:hover, &:focus {
      transform: rotateY(-180deg);
      .bordered(2px, 0, 0, 0, @grey);
      outline: none;
    }

    > * {
      .backface-visibility;
    }

    .image {
      width: 100%;      
    }

    .info {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1em;
      transform: rotateY(-180deg );
      z-index: 10;
    }
  }
}

.central-elem {
  .flexbox;
  .justify-content(center);
  .align-items(center);
  
  perspective: 800px;

  &.img-container {
    height: 50vh;
  }

  &.central-mark {
    // height: 20vh;
    color: @blue;

    padding: 1em;
    border: 3px solid @blue;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;

    &:before {
      content: '?';
      font-size: 2em;
    }
  }
}


@media (max-width: 767px) {
  .main-content {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }

  .central-elem {
    &.img-container {
      width: 90%;
    }

    &.central-mark {
    }
  }
}

@media (min-width: 768px) {
  .central-elem {
    &.img-container {

      width: 40%;
    }

    &.central-mark {
    }

    margin: 1em;
  }
}

@media (min-width: 992px) {
  .main-content {
    width: 90%;
    padding: 0 5%;
    max-width: 975px;
  }

}

@media (min-width: 1200px) {

}